@import '~flatpickr/dist/flatpickr';

body, html {
  background-color: #efece6;
  min-height: 100vh;
  margin: 0;
}

* {
  font-family: Open Sans;
}

nav {
  overflow: hidden;
  background-color: #ebc27e;
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 20px -2px #A2AEBB;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  color: rgb(48, 44, 44);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: rgb(254, 254, 254);
  width: 75vw;
  height: 65vh;
  font-size: 1.8em;
  font-weight: 500;
  overflow: hidden;
}

.all-bookings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  background-color: rgb(166, 191, 213);
  width: 20vw;
  height: 80vh;
  font-size: 30px;
  overflow: hidden;
}

.all-bookings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
}

.reservation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5vh;
  width: 300px;
  border-radius: 12px;
}

.reservation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  font-weight: 800;
  color:#393020
}

.booking-info {
  display: flex;
  text-align:center;
  flex-direction: column;
  font-weight: 200;
  font-size: 15px;
  color: black;
  background-color: rgb(255, 255, 255);
  height: 125px;
  width: 200px;
  border-radius: 40px;
}

.book-here-form {
  display: flex;
  align-items: center;
  font-size: 25px;
  height: 40px;
}

.book-here-header {
  margin-bottom: 0;
}

.no-date-selected {
  color: red;
  font-size: 25px;
}

.submit {
  cursor: pointer;
}

select {
  cursor: pointer;
}

.hidden {
  display: none;
}